@page "/wfa"

<h3>WFA</h3>

<div class="container">
    <div class="@(IsMale ? "male active" : "male")" @onclick="() => SetGender(true)">
        <p>Male</p>
    </div>
    <div class="@(!IsMale ? "female active" : "female")" @onclick="() => SetGender(false)">
        <p>Female</p>
    </div>

    <div class="input-container">
        <p class="input-desc">Tahun :</p>
        <input class="input-value" type="number" @bind="year" @bind:event="oninput" placeholder="tahun" />
    </div>
    <div class="input-container">
        <p class="input-desc">Bulan :</p>
        <input class="input-value" type="number" @bind="month" @bind:event="oninput" placeholder="bulan" />
    </div>
    <div class="input-container weight-container">
        <p class="input-desc single">Weight (kg)</p>
        <input class="input-value single" type="number" @bind="weight" @bind:event="oninput" placeholder="weight (kg)" />
    </div>
    <button @onclick="CheckWeightCategory" class="btn btn-primary col-12 mt-1">Check</button>
</div>

<p>Weight Category: @weightCategory</p>


@if (weightForAge != null)
{
    <ul>
        <li>
            Month: @weightForAge.Month<br />
            -3 SD: @weightForAge.SD1neg<br />
            -2 SD: @weightForAge.SD2neg<br />
            -1 SD: @weightForAge.SD3neg<br />
            Median: @weightForAge.SD0<br />
            +1 SD: @weightForAge.SD1<br />
            +2 SD: @weightForAge.SD2<br />
            +3 SD: @weightForAge.SD3
        </li>
    </ul>
}

@code {
    private List<WeightForAge> weightForAgeList = new List<WeightForAge>();
    private int totalMonth = 0;
    private int year = 0;
    private int month = 0;
    private double weight = 0.0;
    private bool IsMale = false;
    private string? weightCategory;
    private WeightForAge? weightForAge;

    protected override async Task OnInitializedAsync()
    {
        var fileStream = await FileSystem.OpenAppPackageFileAsync("WFA_0-5_GIRLS.json");
        using var reader = new StreamReader(fileStream);
        var json = await reader.ReadToEndAsync();
        weightForAgeList = System.Text.Json.JsonSerializer.Deserialize<List<WeightForAge>>(json)!;
    }

    private void GetTotalMonth()
    {
        totalMonth = (year * 12) + month;
    }

    private void CheckWeightCategory()
    {
        GetTotalMonth();
        var ageData = weightForAgeList.FirstOrDefault(w => w.Month == totalMonth);
        weightForAge = ageData;
        if (ageData != null)
        {
            weightCategory = DetermineWeightCategory(weight, ageData);
        }
        else
        {
            weightCategory = "Data not available for the specified age.";
        }
    }

    private string DetermineWeightCategory(double weight, WeightForAge ageData)
    {
        switch (weight)
        {
            case var _ when weight < ageData.SD3neg:
                return "Severely Underweight";
            case var _ when weight < ageData.SD2neg:
                return "Underweight";
            case var _ when weight < ageData.SD1:
                Console.WriteLine(ageData.SD2);
                return "Normal";
            case var _ when weight < ageData.SD2:
                return "Overweight";
            default:
                return "Obese";
        }
    }

    private void SetGender(bool isMale)
    {
        ResetField();
        IsMale = isMale;
    }

    private void ResetField()
    {
        month = 0;
        year = 0;
        totalMonth = 0;
        weight = 0.0;
    }

    private class WeightForAge
    {
        public int Month { get; set; }
        public double SD3neg { get; set; }
        public double SD2neg { get; set; }
        public double SD1neg { get; set; }
        public double SD0 { get; set; }
        public double SD1 { get; set; }
        public double SD2 { get; set; }
        public double SD3 { get; set; }
    }
}
